<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1eabf59f8e17419fba2a109c6559c034 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1eabf59f8e17419fba2a109c6559c034" ></div>
        
</body>
<script>    
    
            var map_1eabf59f8e17419fba2a109c6559c034 = L.map(
                "map_1eabf59f8e17419fba2a109c6559c034",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_873f0f0f0d3c4602a117f7342b8fad21 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1eabf59f8e17419fba2a109c6559c034);
        
    
            var feature_group_96926b81e04142d4bb40e41ed5af8d81 = L.featureGroup(
                {}
            ).addTo(map_1eabf59f8e17419fba2a109c6559c034);
        
    
            var circle_marker_347bd3aa50fe44089837d7f2e74edb56 = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_96926b81e04142d4bb40e41ed5af8d81);
        
    
        var popup_140325125f784168b4ca8d16bc38bfcf = L.popup({"maxWidth": "100%"});

        
            var html_0378e261b7e9485a88b50735a5fbe36d = $(`<div id="html_0378e261b7e9485a88b50735a5fbe36d" style="width: 100.0%; height: 100.0%;">yokoono</div>`)[0];
            popup_140325125f784168b4ca8d16bc38bfcf.setContent(html_0378e261b7e9485a88b50735a5fbe36d);
        

        circle_marker_347bd3aa50fe44089837d7f2e74edb56.bindPopup(popup_140325125f784168b4ca8d16bc38bfcf)
        ;

        
    
    
            var circle_marker_254af8a181b74bb6bb040402232e0217 = L.circleMarker(
                [12.9694561, 77.6478741],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_96926b81e04142d4bb40e41ed5af8d81);
        
    
        var popup_e08276b5d6bf4b86b8515061443e3b14 = L.popup({"maxWidth": "100%"});

        
            var html_a566a7f57a7540c68472372a838c37c8 = $(`<div id="html_a566a7f57a7540c68472372a838c37c8" style="width: 100.0%; height: 100.0%;">WixWickens</div>`)[0];
            popup_e08276b5d6bf4b86b8515061443e3b14.setContent(html_a566a7f57a7540c68472372a838c37c8);
        

        circle_marker_254af8a181b74bb6bb040402232e0217.bindPopup(popup_e08276b5d6bf4b86b8515061443e3b14)
        ;

        
    
    
            var circle_marker_45353f54182e47ce9948e24a7d7cdc8b = L.circleMarker(
                [34.0536909, -118.2427666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_96926b81e04142d4bb40e41ed5af8d81);
        
    
        var popup_7cc4e2cea3494a8f9443da6218a9b4fa = L.popup({"maxWidth": "100%"});

        
            var html_45dae337b43f45e3afd17c998e9195a5 = $(`<div id="html_45dae337b43f45e3afd17c998e9195a5" style="width: 100.0%; height: 100.0%;">rustyanderson1</div>`)[0];
            popup_7cc4e2cea3494a8f9443da6218a9b4fa.setContent(html_45dae337b43f45e3afd17c998e9195a5);
        

        circle_marker_45353f54182e47ce9948e24a7d7cdc8b.bindPopup(popup_7cc4e2cea3494a8f9443da6218a9b4fa)
        ;

        
    
    
            var layer_control_7a49ec4b41e04fb38b64bed6b47be0c2 = {
                base_layers : {
                    "stamenterrain" : tile_layer_873f0f0f0d3c4602a117f7342b8fad21,
                },
                overlays :  {
                    "Friends" : feature_group_96926b81e04142d4bb40e41ed5af8d81,
                },
            };
            L.control.layers(
                layer_control_7a49ec4b41e04fb38b64bed6b47be0c2.base_layers,
                layer_control_7a49ec4b41e04fb38b64bed6b47be0c2.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_1eabf59f8e17419fba2a109c6559c034);
        
</script>