<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fad177a4cc85441aae0884adaf6a4adc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

</head>
<body>

            <div class="folium-map" id="map_fad177a4cc85441aae0884adaf6a4adc" ></div>

</body>
<script>

            var map_fad177a4cc85441aae0884adaf6a4adc = L.map(
                "map_fad177a4cc85441aae0884adaf6a4adc",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );





            var tile_layer_9b5aba65ea754070b6e3ba3d584e257f = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fad177a4cc85441aae0884adaf6a4adc);


            var feature_group_ce828808df0043118951f66d8539e7cd = L.featureGroup(
                {}
            ).addTo(map_fad177a4cc85441aae0884adaf6a4adc);


            var circle_marker_7e2683328c064e95bd5545728d8b9f93 = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_ce828808df0043118951f66d8539e7cd);


        var popup_7f3f259c91184cd6968e0ffe7dabe43c = L.popup({"maxWidth": "100%"});


            var html_fc5ebcd5a4d94ef18bc9880a35003cdc = $(`<div id="html_fc5ebcd5a4d94ef18bc9880a35003cdc" style="width: 100.0%; height: 100.0%;">yokoono</div>`)[0];
            popup_7f3f259c91184cd6968e0ffe7dabe43c.setContent(html_fc5ebcd5a4d94ef18bc9880a35003cdc);


        circle_marker_7e2683328c064e95bd5545728d8b9f93.bindPopup(popup_7f3f259c91184cd6968e0ffe7dabe43c)
        ;




            var circle_marker_b6308b4b0bbd4621ba515e216ebed2f3 = L.circleMarker(
                [12.9694561, 77.6478741],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_ce828808df0043118951f66d8539e7cd);


        var popup_a7b90e469c284ebcb03baf484d54d13b = L.popup({"maxWidth": "100%"});


            var html_f5cf02f659f047699b83a1ca6dca1277 = $(`<div id="html_f5cf02f659f047699b83a1ca6dca1277" style="width: 100.0%; height: 100.0%;">WixWickens</div>`)[0];
            popup_a7b90e469c284ebcb03baf484d54d13b.setContent(html_f5cf02f659f047699b83a1ca6dca1277);


        circle_marker_b6308b4b0bbd4621ba515e216ebed2f3.bindPopup(popup_a7b90e469c284ebcb03baf484d54d13b)
        ;




            var circle_marker_dd5235963d4a435e8cfe09ff093c6eed = L.circleMarker(
                [34.0536909, -118.2427666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_ce828808df0043118951f66d8539e7cd);


        var popup_3557176a50084808a54a96c9d6f1b8fe = L.popup({"maxWidth": "100%"});


            var html_ec948c3aa0b34c919c68d4ac36efcea6 = $(`<div id="html_ec948c3aa0b34c919c68d4ac36efcea6" style="width: 100.0%; height: 100.0%;">rustyanderson1</div>`)[0];
            popup_3557176a50084808a54a96c9d6f1b8fe.setContent(html_ec948c3aa0b34c919c68d4ac36efcea6);


        circle_marker_dd5235963d4a435e8cfe09ff093c6eed.bindPopup(popup_3557176a50084808a54a96c9d6f1b8fe)
        ;




            var layer_control_95d9030977f9461192005daadf47e756 = {
                base_layers : {
                    "stamenterrain" : tile_layer_9b5aba65ea754070b6e3ba3d584e257f,
                },
                overlays :  {
                    "Friends" : feature_group_ce828808df0043118951f66d8539e7cd,
                },
            };
            L.control.layers(
                layer_control_95d9030977f9461192005daadf47e756.base_layers,
                layer_control_95d9030977f9461192005daadf47e756.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_fad177a4cc85441aae0884adaf6a4adc);
        
</script>